
{% extends "base.html" %}
{% load staticfiles %}
{% block extra_head%}
    <script language="javascript" type="text/javascript" src="{% static "chat_client.js" %}" ></script>
    
    <form id="inputMessageForm" action="input_chat_message.html" method="POST" target="blankIframe">
        <input type="hidden" id="userName" value="Anon"></input>
        <input type="hidden" id="chatid" value="test"></input>
        <input type="hidden" id="textToSend"></input>
        <input type="hidden" id="currentTime"></input>
    </form>
{% endblock extra_head%}

{% block mEvts%}active{% endblock %}
{% block content%}

<H1>  {{event.Name}} </H1>

<div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
          Description
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse">
      <div class="panel-body">
        {{event.Description}}
        </div>
    </div>
  </div>
  
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
          Chat
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse in">
      <div class="panel-body" id="chatMessagesdiv_1">
        <!-- HTML of messages goes in that div -->
      </div>
    <textarea id="chatinputTA" class="chatTA"
    onkeyup="if(event.keyCode==13 && !event.shiftKey){ enterMessage('chatinputTA');}"></textarea>
    
    <button class="sendbtn"  onclick="enterMessage('chatinputTA');">Envoyer</button>

    <iframe id="blankIframe" height="0" width="0" style="display:none;" tabindex="-1"></iframe>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
          Service
        </a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse">
      <div class="panel-body">
        <p>Machin propose a (18h25): covoiturage 2$ Lennox depart dans 4min</p>
        <p class = "right"><button type="button" class="btn btn-default btn"><span class="glyphicon glyphicon-plus"></span> Ajouter un service</button></p>
      </div>
    </div>
  </div>
  
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
          Carte
        </a>
      </h4>
    </div>
    <div id="collapseFour" class="panel-collapse collapse">
      <div class="panel-body">
        <div id="map" style="width: 400px; height: 300px;"></div>
        <script type="text/javascript">
	   //var address = document.getElementById('address').value;
		var address = {{event.Adress}};
	  
		var map = new google.maps.Map(document.getElementById('map'), { 
			mapTypeId: google.maps.MapTypeId.TERRAIN,
			zoom: 80
		});

		var geocoder = new google.maps.Geocoder();

		geocoder.geocode({
			'address': address
		}, function(results, status) {
				if(status == google.maps.GeocoderStatus.OK) {
					new google.maps.Marker({
						position: results[0].geometry.location,
						map: map
				});
		 map.setCenter(results[0].geometry.location);
				}
			});
</script>
        
      </div>
    </div>
  </div>
</div>
{% endblock %}