{% extends "base.html" %}

 {% block mEvtsList%}active{% endblock %}
    {% block content%}
    
    <h1>Liste des evenements</h1>
    <div class="left">
    
    
    {% for ev in events %}
    <div>
    
        <h2><a href="{% url "event" ev.0.id%}">{{ev.0.Name}}</a></h2>
        <h2>Distance: {{ev.1}} m</h2>
             
          <h4>
        
        

        {% if ev.0.StartDate  %}
        Date de debut: {{ev.0.StartDate}}
        
        
        {% if ev.0.EndDate  %}
         Date de fin: {{ev.0.EndDate}}
        {% endif  %}
        
        
        {% else %}
        
         {% if ev.0.WeekDay %}
        Jour de la semaine: {{ev.0.WeekDay}}
        {% endif  %}
        
        {% endif  %}
        
          </h4>
        
        
        <h5>
        
        {% if ev.0.StartTime  %}
        Heure de debut: {{ev.0.StartTime}}
        {% endif  %}
        
        
        {% if ev.0.EndTime  %}
         Heure de fin: {{ev.0.EndTime}}
        {% endif  %}
        
        
        </h5>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{forloop.counter}}">
                    Description
                 </a>
                </h4>
             </div>
    
              <div id="collapse{{forloop.counter}}" class="panel-collapse collapse">
                <div class="panel-body">
                {{ev.0.Description}}
                </div>
            </div>
        </div>
        <!--  span>User1 : User2 : User3</span> -->
    </div>
    {% endfor %}
    </div>
    
       
 {% endblock %}