#chatdiv
{
    height: 600px;
    width: 400px; /*Same as #chatinput*/
    border: 2px solid #a1a1a1;
    margin: 0px;
}

#messagesContainer
{
    height: 550px;
    width: 100%;
    border: 0px;
    padding: 0px;
    margin: 0px;
}

#chatinputdiv
{
    height: 46px;
    width: 400px; /*Same as #chatdiv*/
    border-top: 1px solid;
}

#chatinputTA
{
    height: 100%;
    width: 395px;
    border: 0px;
    margin: 0px;
    padding: 2px;
}

.chatmessage
{
    height: 46px;
    width: 100%;
    border-bottom: 2px solid;
}