.main
{
    text-align : center;
    padding-top : 55px;
}

.right
{
    text-align : right;
}

.left
{
    text-align : left;
}

.panel-body
{
    text-align : left;
}

.toMe
{
    color : red;
    font-weight : bold;
}

.mod
{
    font-size : 120%;
    font-weight : bold;
}